@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 456px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 560px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 754px;
    }
}
@media (min-width: 1280px) {
    .container {
        /* max-width: 1280px; */
        max-width: 914px;
    }
}
@media (min-width: 1536px) {
    .container {
        /* max-width: 1536px; */
        max-width: 1064px;
    }
}
